<div class="container marketing">

	<h1>Login</h1>
	<br>

	<% if flash[:alert] %>
		<p class="flash_message_login"><%= flash[:alert] %></p>
		<br>
	<% end %>

	<%= form_tag sessions_path, :method => :post do %>

	  <%= label_tag :email %>
	  <%= text_field_tag :email %>
	  <%= label_tag :password %>
	  <%= password_field_tag :password %>

	  <%= submit_tag "Login"  %>

	<% end %>

	<br>
	<br>
	<a href="/newuser" class="signlog_link">Need an Account?  Click Here to Sign Up.</a>

</div>


