<nav class="navbar navbar-static-top navbar-light bg-faded nav1">
  <a href="#" class="navbar-brand"><%= image_tag 'logo1.png', class:'pull-left' %></a>
  <ul class="nav navbar-nav">
    <li class="nav-item"> <!--   Active goes here accordingly   -->
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/elogs">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
</nav>

<h1>Sign Up Below!</h1>
<br>

<%= form_for @user do |f| %>

  <%= f.label :fname %>
  <%= f.text_field :fname  %>

  <%= f.label :lname %>
  <%= f.text_field :lname  %>

  <%= f.label :email %>
  <%= f.text_field :email  %>

  <%= f.label :email_confirmation %>
  <%= f.text_field :email_confirmation  %>
  <br>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password  %>
  
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation  %>
  
  <%= f.label :phone %>
  <%= f.text_field :phone  %>

  <%= f.submit :create %>
<% end %>

<p><%= flash[:alert] %></p>
<p><%= flash[:message] %></p>